/* 
    Document   : style
    Created on : 1 ก.ค. 2556, 22:13:11
    Author     : itnorth
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/*-----------------------------*/
#loading{
    width: 100%;
    text-align: center;
    top: 100px;
    left: 100px;
}
#containerdata .pagination ul li.inactive,
#containerdata .pagination ul li.inactive:hover{
    background-color:#ededed;
    color:#bababa;
    border:1px solid #bababa;
    cursor: default;
}

#containerdata .pagination{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 25px;
}

#containerdata .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}

#containerdata .pagination ul li:hover{
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}

.go_button{
    background-color:#f2f2f2;
    border:1px solid #006699;
    color:#cc0000;
    padding:2px 6px 2px 6px;
    cursor:pointer;
    position:absolute;
    margin-top:-1px;
}

.total{
    float:right;
    color:#999;
}
